@charset "UTF-8";
/* CSS Document */

* ::before, ::after{position: absolute; content:'';}


.frame{
  background-color: #DADFE1;
  position: relative;
  margin: auto;
  margin-top: 5%;
  width: 450px;
  height: 450px;
  border: 10px solid white;
  box-shadow: -5px -5px 20px #CCC,   inset -5px -2px 5px #ABB7B7;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
}

.body{
  background-color: #1d9dd5;
  position: absolute;
  margin: 30% 0 0 31%;
  width: 150px;
  height: 210px;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
}

.body::before{
  background-color: #3275b2;
  margin: -5% 0 0 -20%;
  width: 215px;
  height: 210px;
  border-radius: 50%;
  z-index: -1;
}

.head{
  background-color: #4dc6e5;
  position: absolute;
  margin: 20% 0 0 25%;
  width: 210px;
  height: 210px;
  border-radius: 50%;
}

.head::before{
  background-color: #4dc6e5;
  margin: -35% 0 0 40%;
  width: 15px;
  height: 80px;
  border-top-left-radius: 7px; 
  border-top-right-radius: 7px; 
  -webkit-transform: rotate(-11deg);
  -ms-transform: rotate(-11deg);
  transform: rotate(-11deg)
}

.head::after{
  background-color: #4dc6e5;
  margin: -35% 0 0 50%;
  width: 15px;
  height: 80px;
  border-top-left-radius: 7px; 
  border-top-right-radius: 7px; 
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg)
}

.beak{
  background-color: #e7742d;
  position: absolute;
  margin: 110px 0 0 80px;
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.eye_bg{
  background-color: white;
  position: absolute;
  margin: 0 0 0 -15px;
  width: 120px;
  height: 120px;
  border: solid 8px #4dc6e5;
  border-radius: 50%;
}

.eye_bg::before{
  background-color: white;
  margin: -5px 0 0 90px;
  width: 120px;
  height: 120px;
  border: solid 8px #4dc6e5;
  border-radius: 50%;
}

.eye_bg::after{
  background-color: white;
  margin: 2px 0 0 5px;
  width: 116px;
  height: 116px;
  border-radius: 50%;
}

.pupils{
  background-color: black;
  position: absolute;
  margin: 45px 0 0 50px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 1;
}

.pupils::after{
  background-color: black;
  margin: 0 0 0 100px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.feet{
  background-color: #f0ca32;
  position: absolute;
  margin: 320px 0 0 190px;
  width: 15px;
  height: 60px;
  border-radius: 10px;
}

.feet::after{
  background-color: #f0ca32;
  margin: 0 0 0 30px;
  width: 15px;
  height: 60px;
  border-radius: 10px;
}
